@media only screen and (max-width: 575px){

    .cbFormTextField,
    .cbFormTextArea,
    .cbFormPassword,
    .cbFormSelect
    {
        font-size: 17px;
        width: 100%;
    }

    .cbFormMultiSelectField,
    .cbFormMultiSelectText,
    .cbFormMultiSelectText:hover,
    .cbFormFile,
    .cbFormAutoCompleteOptionText,
    .cbFormAutoCompleteOptionText:hover,
    .cbFormAutoCompleteOptionRemainder,
    .cbFormAutoCompleteOptionRemainder:hover
    {
        font-size: 17px;
    }

    .cbFormCalendarPickerMonthDay,
    .cbFormCalendarPickerMonthDay:hover
    {
        font-size: 16px;
        height: 32px;
    }

    .cbFormCalendarPickerNavBarItem,
    .cbFormCalendarPickerNavBarItem:hover,
    .cbFormCalendarPickerMonthItem,
    .cbFormCalendarPickerDate,
    .cbFormCalendarPickerTodayDate,
    .cbFormCalendarPickerSelectedDate,
    .cbFormCalendarPickerTodaySection,
    .cbFormCalendarPickerTodaySection:hover,
    .cbFormCalendarPickerTodayLabel
    {
        font-size: 16px;
    }

    .cbFormTextAreaHint
    {
        font-size: 15px;
    }

    .cbFormCalendarPickerWeekDayContainer,
    .cbFormCalendarPickerWeekDayItem
    {
        font-size: 13px;
    }

}