/* styles for resizing contents of a container, from https://css-tricks.com/scaled-proportional-blocks-with-css-and-javascript/ */

.very-specific-design {
  /* width: 
  height: */
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}

.scaleable-wrapper {
  resize: both;
  position: relative;
  /* height: */
}