ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
 input[type='text'], input[type='email'], textarea, select, input[type='radio'], input[type='checkbox'] { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; outline: none; text-shadow: none; }
 textarea { resize: none; }
 html { height: 100%; }
 body { width: 100%; height: 100%; background: #ffffff; color: #000000; font-family: Arial, sans-serif; font-size: 16px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
 a { color: inherit; text-decoration: none; }
 a img, a:hover img { border: none; }
 b, strong { font-weight: bold; }
 h2 { color: #000000; font-family: Arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 1.1em; letter-spacing: 0.03em; margin: 0 auto 20px; }
 div.paragraph { font-family: Arial, sans-serif; font-size: 16px; font-weight: 300; line-height: 1.75; letter-spacing: 0.02em; /* margin: 0 auto 30px;*/ }
 p { font-family: Arial, sans-serif; font-size: 16px; font-weight: 300; line-height: 1.75; letter-spacing: 0.02em; /* margin: 0 auto 30px;*/ }
 div.paragraph a { color: inherit; opacity: .7; border-bottom: 1px solid rgba(0,0,0,0.5); -webkit-transition: opacity 200ms ease-in-out; -moz-transition: opacity 200ms ease-in-out; -ms-transition: opacity 200ms ease-in-out; transition: opacity 200ms ease-in-out; }
 p a { color: inherit; opacity: .7; border-bottom: 1px solid rgba(0,0,0,0.5); -webkit-transition: opacity 200ms ease-in-out; -moz-transition: opacity 200ms ease-in-out; -ms-transition: opacity 200ms ease-in-out; transition: opacity 200ms ease-in-out; }
 div.paragraph a:hover { opacity: 0.4; }
 p a:hover { opacity: 0.4; }
 blockquote { position: relative; display: block; padding: 1.5em 2.5em; background: rgba(225,228,230,0.5); font-family: Arial, sans-serif; font-size: 16px; font-weight: 300; line-height: 1.75; text-align: left; margin: 0 auto 30px; }
 blockquote:before { position: absolute; content: '\201C'; top: 0.75em; left: 0.5em; font-size: 2em; line-height: 1; font-weight: bold; }
 .wsite-background, .wsite-header-section { background-size: cover; }
 .banner-wrap { position: relative; height: 100%; background: rgba(0,0,0,0.4); color: #ffffff; }
 .banner-wrap .container { max-width: 1366px; padding: 60px 40px; }
 .banner-wrap .banner { position: relative; text-align: center; }
 .banner-wrap h2 { color: inherit; font-family: Arial, sans-serif; font-size: 80px; font-weight: 100; line-height: 1.25; letter-spacing: 0.05em; margin: 15px auto; }
 .banner-wrap div.paragraph { color: inherit; font-family: "brandon-grotesque", sans-serif; font-size: 12px; font-weight: 700; line-height: 1.5; text-transform: uppercase; letter-spacing: 0.15em; margin: 15px auto; }
 .banner-wrap p { color: inherit; font-family: "brandon-grotesque", sans-serif; font-size: 12px; font-weight: 700; line-height: 1.5; text-transform: uppercase; letter-spacing: 0.15em; margin: 15px auto; }
 .banner-wrap div.paragraph a { border-bottom: 1px solid rgba(255,255,255,0.5); }
 .banner-wrap p a { border-bottom: 1px solid rgba(255,255,255,0.5); }
 .container, .wsite-footer { position: relative; width: 100%; margin: 0 auto; box-sizing: border-box; }
 .main-wrap { width: 100%; background: #ffffff; }
 .main-wrap .wsite-section-wrap:nth-child(even) { -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.05); -moz-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.05); -ms-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.05); box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.05); }
 .main-wrap .container { padding: 60px 40px; max-width: 1600px; }
 body:not(.splash-page).full-width-off { background-color: #f2f2f2; }
 body:not(.splash-page).full-width-off .wrapper, body:not(.splash-page).full-width-off .unite-header { max-width: 1100px; margin: 0 auto; }
 body:not(.splash-page).full-width-off .wrapper { min-height: 100vh; background: #ffffff; }
 .footer-wrap { width: 100%; font-size: 14px; border-top: 1px solid rgba(0,0,0,0.1); }
 .footer-wrap .wsite-footer { max-width: 1366px; padding: 60px 40px; }
 .footer-wrap h2, .footer-wrap div.paragraph, .footer-wrap blockquote { margin: 0 auto 20px; }
 .footer-wrap h2, .footer-wrap p, .footer-wrap blockquote { margin: 0 auto 20px; }
 .footer-wrap h2 { font-size: 20px; }
 .footer-wrap div.paragraph { font-size: 14px; }
 .footer-wrap p { font-size: 14px; }
 .footer-wrap blockquote { font-size: 14px; background: transparent; padding: 0 0 0 1em; }
 .footer-wrap blockquote:before { top: 0; left: 0; font-size: 1.5em; }
 .unite-header { position: relative; top: 0; z-index: 12; width: 100%; max-width: 100%; padding: 20px 40px; color: #000000; background: #ffffff; box-sizing: border-box; -webkit-transition: padding 240ms ease, min-height 240ms ease; -moz-transition: padding 240ms ease, min-height 240ms ease; -ms-transition: padding 240ms ease, min-height 240ms ease; transition: padding 240ms ease, min-height 240ms ease; backface-visibility: hidden; -webkit-backface-visibility: hidden; }
 .unite-header .container { display: table; table-layout: fixed; overflow-y: hidden; width: 100%; max-height: 80px; min-height: 80px; }
 .unite-header .hamburger { display: none; }
 body.sticky-nav-on .unite-header, body.splash-page .unite-header { position: fixed; top: 0; }
 body.sticky-nav-on.collapse .unite-header, body.splash-page.collapse .unite-header { position: fixed; color: #000000; background: #ffffff; border-bottom: 1px solid rgba(0,0,0,0.05); padding: 5px 40px; }
 body.sticky-nav-on.collapse .unite-header .container, body.splash-page.collapse .unite-header .container { min-height: 50px; }
 body.sticky-nav-on.collapse .unite-header .logo #wsite-title, body.splash-page.collapse .unite-header .logo #wsite-title { font-size: 22px; }
 body.sticky-nav-on.collapse .unite-header .logo img, body.sticky-nav-on.collapse .unite-header .logo .wsite-logo, body.splash-page.collapse .unite-header .logo img, body.splash-page.collapse .unite-header .logo .wsite-logo { max-height: 50px; }
 body.sticky-nav-on.wsite-checkout-page .unite-header, body.sticky-nav-on.wsite-native-mobile-editor .unite-header, body.splash-page.wsite-checkout-page .unite-header, body.splash-page.wsite-native-mobile-editor .unite-header { position: absolute !important; }
 body.splash-page .unite-header { background: transparent; color: #ffffff; }
 body.splash-page .unite-header .nav li.active > a:after { background-color: rgba(255,255,255,0.6); }
 body.splash-page .unite-header .hamburger span, body.splash-page .unite-header .hamburger span:before, body.splash-page .unite-header .hamburger span:after { background: #ffffff; }
 .unite-header .logo { width: 25%; text-align: left; display: table-cell; vertical-align: middle; max-height: 80px; overflow: hidden; }
 .unite-header .logo * { display: block; }
 .unite-header .logo a { margin-right: 30px; }
 .unite-header .logo a:hover { opacity: 0.6; background: transparent; -webkit-transition: opacity 200ms ease; -moz-transition: opacity 200ms ease; -ms-transition: opacity 200ms ease; transition: opacity 200ms ease; }
 .unite-header .logo #wsite-title { font-family: "brandon-grotesque", sans-serif; font-size: 30px; font-weight: 500; line-height: 1; text-transform: uppercase; letter-spacing: 0.08em; }
 .unite-header .logo img { overflow: hidden; max-width: 100%; max-height: 70px; }
 .unite-header .logo .wsite-logo { overflow: hidden; max-width: 100%; max-height: 70px; }
 .nav { display: table-cell; vertical-align: middle; }
 .nav li { display: inline-block; margin: 5px 0; }
 .nav a { display: block; padding: 10px 20px; font-family: "brandon-grotesque", sans-serif; font-size: 14px; font-weight: 500; line-height: 1; letter-spacing: 0.05em; text-transform: uppercase; }
 .nav a:after { content: ''; position: absolute; display: inline-block; overflow: hidden; height: 1px; width: 0; left: 15px; bottom: 5px; background: transparent; -webkit-transition: width 280ms ease-in-out 400ms; -moz-transition: width 280ms ease-in-out 400ms; -ms-transition: width 280ms ease-in-out 400ms; transition: width 280ms ease-in-out 400ms; }
 .nav a:hover { opacity: 0.6; background: transparent; -webkit-transition: opacity 200ms ease; -moz-transition: opacity 200ms ease; -ms-transition: opacity 200ms ease; transition: opacity 200ms ease; }
 .nav li.active > a:after { background: rgba(0,0,0,0.4); width: calc(100% - 30px); }
 .nav #wsite-nav-cart-a { padding-right: 0; }
 .desktop-nav { width: 50%; text-align: center; }
 .mobile-nav { display: none; }
 .membership-cart { width: 25%; text-align: right; }
 #wsite-menus > .wsite-menu-wrap > .wsite-menu .wsite-menu { margin: 0 -1px; }
 #wsite-menus .wsite-menu { position: relative; background: #ffffff; -webkit-box-shadow: inset 0px 0px 0px 1px #E1E4E6; -moz-box-shadow: inset 0px 0px 0px 1px #E1E4E6; -ms-box-shadow: inset 0px 0px 0px 1px #E1E4E6; box-shadow: inset 0px 0px 0px 1px #E1E4E6; }
 #wsite-menus .wsite-menu li a { background: transparent; color: #000000; font-family: "brandon-grotesque", sans-serif; font-size: 12px; font-weight: normal; line-height: normal; text-transform: uppercase; letter-spacing: 0.05em; border: none; }
 #wsite-menus .wsite-menu li a:hover { opacity: 0.6; background: transparent; -webkit-transition: opacity 200ms ease; -moz-transition: opacity 200ms ease; -ms-transition: opacity 200ms ease; transition: opacity 200ms ease; }
 #wsite-menus .wsite-menu-arrow { display: none; }
 .wsite-header-section, .banner-wrap.wsite-background { background: url(theme/images/default-bg.jpg?1587303665) no-repeat center center; background-size: cover; }
 .ttp-header-page .wsite-header-section { height: 600px; }
 body.sticky-nav-on .wsite-header-section { height: 720px; }
 body.sticky-nav-on:not(.splash-page) .banner-wrap .container { padding: 180px 40px 60px; }
 body.sticky-nav-on.ttp-no-header-page .main-wrap { padding-top: 120px; }
 /* body:not(.splash-page):not(.wsite-editor) .nav-wrap { opacity: 0; -webkit-transition: opacity 240ms ease-in 300ms; -moz-transition: opacity 240ms ease-in 300ms; -ms-transition: opacity 240ms ease-in 300ms; transition: opacity 240ms ease-in 300ms; }
 body:not(.splash-page):not(.wsite-editor).fade-in .nav-wrap { opacity: 1; } */
 .splash-page .wsite-header-section { height: 100vh !important; }
 .splash-page .footer-wrap, .splash-page .main-wrap { display: none; }
 .splash-page .logo #wsite-title { font-family: "brandon-grotesque", sans-serif; font-size: 70px !important; font-weight: 500; line-height: 1; text-transform: uppercase; letter-spacing: 0.08em; }
 body.splash-page:not(.wsite-editor) .desktop-nav { opacity: 0; -webkit-transition: opacity 300ms ease-in-out 1200ms; -moz-transition: opacity 300ms ease-in-out 1200ms; -ms-transition: opacity 300ms ease-in-out 1200ms; transition: opacity 300ms ease-in-out 1200ms; }
 body.splash-page:not(.wsite-editor) .banner .container { position: relative; opacity: 0; -webkit-transform: scale(.8); -moz-transform: scale(.8); -ms-transform: scale(.8); transform: scale(.8); -webkit-transition: opacity 600ms ease-in 300ms, transform 600ms ease-in 300ms, top 600ms ease-in 300ms; -moz-transition: opacity 600ms ease-in 300ms, transform 600ms ease-in 300ms, top 600ms ease-in 300ms; -ms-transition: opacity 600ms ease-in 300ms, transform 600ms ease-in 300ms, top 600ms ease-in 300ms; transition: opacity 600ms ease-in 300ms, transform 600ms ease-in 300ms, top 600ms ease-in 300ms; }
 body.splash-page:not(.wsite-editor).fade-in .banner .container, body.splash-page:not(.wsite-editor).fade-in .desktop-nav { opacity: 1; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
 html { height: 100%; }
 body { width: 100%; height: 100%; background: #ffffff; color: #000000; font-family: Arial, sans-serif; font-size: 16px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
 a { color: inherit; text-decoration: none; }
 a img, a:hover img { border: none; }
 b, strong { font-weight: bold; }
 h2 { color: #000000; font-family: Arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 1.1em; letter-spacing: 0.03em; margin: 0 auto 20px; }
 div.paragraph { font-family: Arial, sans-serif; font-size: 16px; font-weight: 300; line-height: 1.75; letter-spacing: 0.02em; /* margin: 0 auto 30px;*/ }
 p { font-family: Arial, sans-serif; font-size: 16px; font-weight: 300; line-height: 1.75; letter-spacing: 0.02em; /* margin: 0 auto 30px;*/ }
 div.paragraph a { color: inherit; opacity: .7; border-bottom: 1px solid rgba(0,0,0,0.5); -webkit-transition: opacity 200ms ease-in-out; -moz-transition: opacity 200ms ease-in-out; -ms-transition: opacity 200ms ease-in-out; transition: opacity 200ms ease-in-out; }
 p a { color: inherit; opacity: .7; border-bottom: 1px solid rgba(0,0,0,0.5); -webkit-transition: opacity 200ms ease-in-out; -moz-transition: opacity 200ms ease-in-out; -ms-transition: opacity 200ms ease-in-out; transition: opacity 200ms ease-in-out; }
 div.paragraph a:hover { opacity: 0.4; }
 p a:hover { opacity: 0.4; }
 blockquote { position: relative; display: block; padding: 1.5em 2.5em; background: rgba(225,228,230,0.5); font-family: Arial, sans-serif; font-size: 16px; font-weight: 300; line-height: 1.75; text-align: left; margin: 0 auto 30px; }
 blockquote:before { position: absolute; content: '\201C'; top: 0.75em; left: 0.5em; font-size: 2em; line-height: 1; font-weight: bold; }
 .wsite-background, .wsite-header-section { background-size: cover; }
 .banner-wrap { position: relative; height: 100%; background: rgba(0,0,0,0.4); color: #ffffff; }
 .banner-wrap .container { max-width: 1366px; padding: 60px 40px; }
 .banner-wrap .banner { position: relative; text-align: center; }
 .banner-wrap h2 { color: inherit; font-family: Arial, sans-serif; font-size: 80px; font-weight: 100; line-height: 1.25; letter-spacing: 0.05em; margin: 15px auto; }
 .banner-wrap div.paragraph { color: inherit; font-family: "brandon-grotesque", sans-serif; font-size: 12px; font-weight: 700; line-height: 1.5; text-transform: uppercase; letter-spacing: 0.15em; margin: 15px auto; }
 .banner-wrap p { color: inherit; font-family: "brandon-grotesque", sans-serif; font-size: 12px; font-weight: 700; line-height: 1.5; text-transform: uppercase; letter-spacing: 0.15em; margin: 15px auto; }
 .banner-wrap div.paragraph a { border-bottom: 1px solid rgba(255,255,255,0.5); }
 .banner-wrap p a { border-bottom: 1px solid rgba(255,255,255,0.5); }
 .container, .wsite-footer { position: relative; width: 100%; margin: 0 auto; box-sizing: border-box; }
 .main-wrap { width: 100%; background: #ffffff; }
 .main-wrap .wsite-section-wrap:nth-child(even) { -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.05); -moz-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.05); -ms-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.05); box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.05); }
 .main-wrap .container { padding: 60px 40px; max-width: 1600px; }
 body:not(.splash-page).full-width-off { background-color: #f2f2f2; }
 body:not(.splash-page).full-width-off .wrapper, body:not(.splash-page).full-width-off .unite-header { max-width: 1100px; margin: 0 auto; }
 body:not(.splash-page).full-width-off .wrapper { min-height: 100vh; background: #ffffff; }
 .footer-wrap { width: 100%; font-size: 14px; border-top: 1px solid rgba(0,0,0,0.1); }
 .footer-wrap .wsite-footer { max-width: 1366px; padding: 60px 40px; }
 .footer-wrap h2, .footer-wrap div.paragraph, .footer-wrap blockquote { margin: 0 auto 20px; }
 .footer-wrap h2, .footer-wrap p, .footer-wrap blockquote { margin: 0 auto 20px; }
 .footer-wrap h2 { font-size: 20px; }
 .footer-wrap div.paragraph { font-size: 14px; }
 .footer-wrap p { font-size: 14px; }
 .footer-wrap blockquote { font-size: 14px; background: transparent; padding: 0 0 0 1em; }
 .footer-wrap blockquote:before { top: 0; left: 0; font-size: 1.5em; }
 #wsite-com-store .wsite-com-category-subcategory-image-wrap { height: 100%; border: none; }
 #wsite-com-store .wsite-com-category-subcategory-name { top: 0; }
 #wsite-com-store .wsite-com-category-subcategory-name-bg { background-color: rgba(0,0,0,0.2); background-image: linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0.4)); background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0.4)); background-image: -moz-linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0.4)); background-image: -ms-linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0.4)); background-image: -o-linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0.4)); }
 #wsite-com-store .wsite-com-category-subcategory-name-text { position: absolute; bottom: 0; width: 100%; background: none; box-sizing: border-box; text-shadow: none; font-weight: 400; }
 #wsite-com-store #wsite-com-product-title { font-weight: inherit; }
 #wsite-com-store .wsite-com-category-subcategory-link .wsite-com-category-subcategory-image-wrap, #wsite-com-store .wsite-com-category-product-link .wsite-com-category-product-image-wrap, #wsite-com-store .wsite-com-category-product-link-featured .wsite-com-category-product-featured-image-wrap { opacity: 1; -webkit-transition: all 300ms ease; -moz-transition: all 300ms ease; -ms-transition: all 300ms ease; transition: all 300ms ease; }
 #wsite-com-store .wsite-com-category-subcategory-link:hover .wsite-com-category-subcategory-image-wrap, #wsite-com-store .wsite-com-category-product-link:hover .wsite-com-category-product-image-wrap, #wsite-com-store .wsite-com-category-product-link-featured:hover .wsite-com-category-product-featured-image-wrap { opacity: .7; }
 #wsite-com-store #wsite-com-hierarchy ul { font-size: 16px; }
 #wsite-com-store #wsite-com-hierarchy ul .wsite-link-unselected { color: #000000; }
 #wsite-com-store #wsite-com-hierarchy ul .wsite-link-unselected:hover { color: rgba(0,0,0,0.4); }
 .wsite-product { border-radius: 0; box-shadow: none; }
 h2#wsite-com-product-title { display: block; clear: both; font-size: 20px; font-weight: 400; }
 .wsite-com-product-title { font-weight: 400; }
 #wsite-com-breadcrumbs.wsite-com-product-breadcrumbs, #wsite-com-breadcrumbs.wsite-com-category-breadcrumbs { padding-bottom: 25px; }
 .wsite-com-category-product-group .wsite-com-category-product-wrap, .wsite-com-category-product-featured-group .wsite-com-category-product-wrap, .wsite-com-category-product-featured-group .wsite-com-category-product-featured-wrap, .wsite-com-category-subcategory-group .wsite-com-category-subcategory-wrap, #wsite-com-product-price-area, #wsite-com-product-price-area, #wsite-com-product-short-description .paragraph, .wsite-com-product-title { font-size: 14px; }
 #wsite-com-product-info { float: left; width: 46%; margin-left: 60px; }
 .wsite-product-button-wrap { display: block; text-align: left; }
 #wsite-mini-cart { border-radius: 0; border-color: #E1E4E6 !important; padding: 5px !important; margin-top: 3px; }
 #wsite-mini-cart:before, #wsite-mini-cart:after { display: none !important; }
 #wsite-mini-cart .wsite-product-image { padding: 10px; }
 #wsite-mini-cart .wsite-product-list .wsite-list-image-container { margin: 0; }
 #wsite-mini-cart .wsite-items-right { width: 30%; }
 #wsite-mini-cart .wsite-items-quantity { width: 10%; text-align: center; }
 #wsite-mini-cart .wsite-vertical-align { padding-top: 10px; padding-bottom: 10px; vertical-align: top; }
 #wsite-mini-cart .wsite-product-list .wsite-product-price, #wsite-mini-cart .wsite-items-quantity, #wsite-mini-cart .wsite-name-header, #wsite-mini-cart .wsite-subtotal-wrapper, #wsite-mini-cart .wsite-subtotal-wrapper * { color: #000000; font-family: Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 1.25; }
 #wsite-mini-cart .wsite-product-list .wsite-product-price { padding-right: 10px; }
 #wsite-mini-cart .wsite-product-option { font-family: Arial, sans-serif; font-size: 12px; font-weight: 500; }
 #wsite-mini-cart .wsite-subtotal-wrapper { vertical-align: middle; font-weight: 900; }
 #wsite-mini-cart .wsite-subtotal-wrapper span { font-family: Arial, sans-serif; font-size: 13px !important; margin-right: 5px; font-weight: normal; }
 #wsite-mini-cart .wsite-subtotal-wrapper span.wsite-price { font-size: 14px !important; font-weight: 900; }
 #wsite-mini-cart .wsite-remove-button { background: none !important; height: auto; cursor: pointer; color: #DD5857; font-size: 18px; font-weight: 900; line-height: 14px; text-align: right; margin-top: 0; margin-right: 0; }
 #wsite-mini-cart .wsite-remove-button:before { content: 'x'; }
 .commerce-elements-wrapper { padding: 0; }
 .product-grid-layout--over .product-grid__overlay, .product-grid-layout--hover .product-grid__overlay { top: 6px; left: 6px; width: calc(100% - 12px); height: calc(100% - 12px); background: rgba(255,255,255,0.85); color: #000000; -webkit-transition: all 260ms ease; -moz-transition: all 260ms ease; -ms-transition: all 260ms ease; transition: all 260ms ease; }
 .product-grid-layout--over .product-grid__overlay .product-grid-reset, .product-grid-layout--over .product-grid__overlay .product-grid__sale, .product-grid-layout--hover .product-grid__overlay .product-grid-reset, .product-grid-layout--hover .product-grid__overlay .product-grid__sale { color: #000000; }
 #blogTable .blog-post .blog-header h2.blog-title { font-family: "brandon-grotesque", sans-serif; font-size: 28px; font-weight: 300; text-transform: uppercase; letter-spacing: 0.015em; margin-bottom: 10px !important; }
 #blogTable .blog-post .blog-date, #blogTable .blog-post .blog-comments { float: left; color: rgba(0,0,0,0.6); font-size: 16px; }
 #blogTable .blog-post .blog-date { margin-right: 30px !important; }
 #blogTable .blog-post .blog-separator { margin: 0 auto 20px; border: none; }
 #blogTable .blog-post .blog-read-more { text-align: left; }
 #blogTable .blog-post .blog-content { margin-bottom: 40px; }
 #blogTable .blog-post .blog-content hr { margin: 0 auto; }
 #blogTable .blog-sidebar { width: 30%; }
 #blogTable .blog-sidebar .column-blog { width: 70%; max-width: 240px; }
 #blogTable .blog-sidebar h2 { font-family: "brandon-grotesque", sans-serif; font-size: 14px; font-weight: 300; text-transform: uppercase; margin-bottom: 10px; }
 #blogTable .blog-comments-bottom { display: none; }
 #blogTable #commentArea #commentAreaTitle, #blogTable #commentArea #commentReplyTitle, #blogTable #commentArea .blogCommentText div.paragraph, #blogTable #commentArea .blog-sidebar h2 { padding: 0; font-family: inherit; }
 #blogTable #commentArea #commentAreaTitle, #blogTable #commentArea #commentReplyTitle, #blogTable #commentArea .blogCommentText p, #blogTable #commentArea .blog-sidebar h2 { padding: 0; font-family: inherit; }
 #blogTable #commentArea #commentAreaTitle, #blogTable #commentArea #commentReplyTitle, #blogTable #commentArea .blog-sidebar h2 { font-family: "brandon-grotesque", sans-serif; font-size: 14px; text-transform: uppercase; letter-spacing: 0.015em; }
 #blogTable .blogCommentWrap { padding-top: 20px; border-top: 1px solid rgba(0,0,0,0.05); background: none; }
 #blogTable .blogCommentWrap .blogCommentAuthor, #blogTable .blogCommentWrap .blogCommentHeading, #blogTable .blogCommentWrap .blogCommentHeadingInner { background: none !important; }
 #blogTable .blogCommentWrap .blogCommentAuthor { margin-bottom: 10px; }
 #blogTable .blogCommentWrap .blogCommentAuthor .name, #blogTable .blogCommentWrap .blogCommentAuthor .email, #blogTable .blogCommentWrap .blogCommentAuthor .link { color: #000000 !important; float: none !important; line-height: 1; }
 #blogTable .blogCommentWrap .blogCommentAuthor .link { display: inline-block; font-size: 0 !important; }
 #blogTable .blogCommentWrap .blogCommentHeading { padding: 0; margin-bottom: 20px; }
 #blogTable .blogCommentWrap .blogCommentHeading .blogCommentHeadingInner { height: auto; }
 #blogTable .blogCommentWrap .blogCommentHeading .blogCommentAuthor, #blogTable .blogCommentWrap .blogCommentHeading .blogCommentDate { float: none !important; text-align: left; height: auto; font-family: Arial, sans-serif; font-weight: 300; line-height: 1; letter-spacing: 0.03em; text-transform: uppercase; padding: 0; }
 #blogTable .blogCommentWrap .blogCommentHeading .blogCommentDate { color: #333; }
 #blogTable .blogCommentWrap .blogCommentText { padding: 0; }
 #blogTable .blogCommentWrap .blogCommentText div.paragraph { color: #000000; font-size: 12px; }
 #blogTable .blogCommentWrap .blogCommentText p { color: #000000; font-size: 12px; }
 .blogCommentReplyWrapper iframe { height: 560px !important; }
 #commentPostDiv .field input[type=text], #commentPostDiv .field textarea { height: auto; padding: 8px 12px; color: inherit; background: transparent; border: 1px solid rgba(0,0,0,0.1); box-sizing: border-box; -webkit-transition: all 300ms ease; -moz-transition: all 300ms ease; -ms-transition: all 300ms ease; transition: all 300ms ease; }
 #commentPostDiv .field input[type=text]:hover, #commentPostDiv .field textarea:hover { border-color: #000000 !important; }
 #commentPostDiv .field input[type=text]:focus, #commentPostDiv .field textarea:focus { border-bottom: 1px solid #000000 !important; }
 .blogCommentSubreplyWrapper div.iframeWrapper { background: none; border: none; }
 .blog-button { height: auto; padding: 10px 20px; background-image: none; background-color: rgba(0,0,0,0.6); color: #ffffff; font-family: "brandon-grotesque", sans-serif; font-size: 12px; line-height: 1; text-transform: uppercase; letter-spacing: 0.02em; -webkit-transition: all 300ms ease; -moz-transition: all 300ms ease; -ms-transition: all 300ms ease; transition: all 300ms ease; }
 .blog-button:hover { background-color: rgba(0,0,0,0.2); }
 .blog-button span { background: none; }
 @media screen and (max-width: 1200px) {
 .unite-header .logo #wsite-title { font-size: 22px; letter-spacing: 0.015em; }
 }
 @media screen and (max-width: 992px) {
 .container, .wsite-footer { overflow: hidden; }
 .unite-header { top: 0; left: 0; padding: 5px 20px !important; min-height: 50px; }
 .unite-header .unite-header, .unite-header .logo, .unite-header .logo img { max-height: 40px; }
 .unite-header .logo { overflow: hidden; text-align: center; width: auto; }
 .unite-header .logo a { margin-left: 0; margin-right: 0; font-size: 1.1em; line-height: 1.4em; }
 .unite-header .logo #wsite-title { display: block; max-width: 100%; font-size: 1.1em !important; line-height: 1.4em !important; }
 .unite-header .container { min-height: 40px !important; max-height: inherit; }
 .unite-header label.hamburger { display: table-cell; vertical-align: middle; text-align: left; }
 .unite-header .membership-cart { width: 30px; }
 .unite-header .membership-cart .wsite-custom-membership-wrapper { display: none; }
 .unite-header .membership-cart .wsite-nav-cart a { padding: 0; font-size: 0 !important; color: transparent; }
 .unite-header .membership-cart .wsite-nav-cart a span { display: inline-block; min-width: 18px; padding: 6px; text-align: center; background: #E1E4E6; color: #000000; font-size: 12px !important; }
 body.nav-open .mobile-nav { padding: 50px 0; max-height: 100vh; }
 body.nav-open .unite-header label.hamburger span { position: relative; background: transparent; }
 body.nav-open .unite-header label.hamburger span:before { top: 1px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
 body.nav-open .unite-header label.hamburger span:after { top: -1px; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -ms-transform: rotate(135deg); transform: rotate(135deg); }
 body.splash-page.nav-open .wrapper .main-wrap { position: relative; }
 label.hamburger { width: 30px; height: 30px; cursor: pointer; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out; -ms-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }
 label.hamburger span, label.hamburger span:before, label.hamburger span:after { position: relative; display: block; width: 22px; height: 2px; background: #000000; content: ''; -webkit-transition: all 200ms ease-in-out; -moz-transition: all 200ms ease-in-out; -ms-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out; }
 label.hamburger span { margin: 5px 0; }
 label.hamburger span:before { top: -8px; }
 label.hamburger span:after { bottom: -6px; }
 .desktop-nav { display: none; }
 .mobile-nav { position: fixed; top: 0; left: 0; z-index: 12; display: block; overflow-x: hidden; overflow-y: auto; width: 100%; height: 100%; max-height: 0; padding: 0; background: #ffffff; box-sizing: border-box; -webkit-transition: all 300ms cubic-bezier(0, 0.085, 0.68, 0.53); -moz-transition: all 300ms cubic-bezier(0, 0.085, 0.68, 0.53); -ms-transition: all 300ms cubic-bezier(0, 0.085, 0.68, 0.53); transition: all 300ms cubic-bezier(0, 0.085, 0.68, 0.53); }
 .mobile-nav label.hamburger { position: absolute; top: 18px; left: 20px; }
 .mobile-nav label.hamburger span { background: transparent; }
 .mobile-nav label.hamburger span:before { top: 1px; background: #000000; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
 .mobile-nav label.hamburger span:after { top: -1px; background: #000000; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -ms-transform: rotate(135deg); transform: rotate(135deg); }
 .mobile-nav ul { float: none; height: auto; max-width: none; }
 .mobile-nav li, .mobile-nav .wsite-custom-membership-wrapper { position: relative; display: block !important; margin: 0; border: none; text-align: center; }
 .mobile-nav li .wsite-menu-link-styles { position: relative; padding: 10px 0; border: none; }
 .mobile-nav li > a.wsite-menu-item { position: relative; padding: 10px 0; border: none; }
 .mobile-nav li > a.wsite-menu-subitem { display: block; position: relative; padding: 10px 0; color: rgba(0,0,0,0.6); border: none; font-size: 14px; font-weight: 400; line-height: 1; -webkit-transition: all 300ms ease; -moz-transition: all 300ms ease; -ms-transition: all 300ms ease; transition: all 300ms ease; }
 .mobile-nav li .wsite-menu-wrap { display: block !important; overflow: hidden; max-height: 0; -webkit-transition: all 500ms ease-in-out 250ms; -moz-transition: all 500ms ease-in-out 250ms; -ms-transition: all 500ms ease-in-out 250ms; transition: all 500ms ease-in-out 250ms; }
 .mobile-nav li .wsite-menu-wrap li.wsite-nav-current > a.wsite-menu-subitem { background: rgba(0,0,0,0.1); border: none; }
 .mobile-nav li .wsite-menu-wrap .wsite-menu-arrow { display: none; }
 .mobile-nav li.wsite-menu-item-wrap#active > a.wsite-menu-item, .mobile-nav li.wsite-menu-item-wrap > a.wsite-menu-item:hover, .mobile-nav li.wsite-menu-subitem-wrap > a.wsite-menu-subitem:hover { background: ; border: none; }
 .mobile-nav li.has-submenu > span.icon-caret { position: absolute; top: 0; right: 0; display: block; width: 20px; height: 20px; padding: 5px 20px; cursor: pointer; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out; -ms-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }
 .mobile-nav li.has-submenu > span.icon-caret:before { position: relative; display: block; color: #000000; font-size: 24px; content: '\203A'; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }
 .mobile-nav li.has-submenu .wsite-menu-wrap.open { max-height: 1000px; }
 .mobile-nav li.wsite-nav-more { display: none !important; }
 .banner-wrap .container { padding: 60px 20px; }
 .banner-wrap .container h2 { font-size: 50px; }
 .main-wrap .container { padding: 30px 20px; }
 body.sticky-nav-on .banner-wrap .container { padding: 120px 40px 60px; }
 body.sticky-nav-on.ttp-no-header-page .main-wrap { padding-top: 60px; }
 .footer-wrap .wsite-footer { width: 100%; padding: 30px 20px; box-sizing: border-box; }
 body.sticky-nav #wsite-mini-cart { position: fixed !important; }
 #wsite-mini-cart { left: 0 !important; z-index: 9; width: 100%; box-sizing: border-box; border: none !important; border-radius: 0; backface-visibility: hidden; -webkit-backface-visibility: hidden; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out; -ms-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }
 #wsite-mini-cart .arrow-top:before, #wsite-mini-cart .arrow-top:after, #wsite-mini-cart .arrow-left:before, #wsite-mini-cart .arrow-left:after { border: none !important; }
 body.sticky-nav .ttp-no-header-page .main-wrap { padding-top: 50px; }
 }
 @media screen and (max-width: 767px) {
 h2 { font-size: 28px !important; line-height: 1 !important; }
 div.paragraph { font-size: 16px !important; line-height: 1.5 !important; }
 p { font-size: 16px !important; line-height: 1.5 !important; }
 .wsite-section { height: auto !important; background-size: cover !important; }
 .banner-wrap .banner h2 { font-size: 40px !important; }
 .banner-wrap .banner div.paragraph { font-size: 12px !important; }
 .banner-wrap .banner p { font-size: 12px !important; }
 .splash-page .logo #wsite-title { font-size: 50px !important; }
 .imageGallery > div { width: 49.95% !important; }
 td.wsite-multicol-col { float: none; display: block; width: 100% !important; box-sizing: border-box; }
 #blogTable td { float: none; clear: both; display: block; width: 100%; margin: 0; padding: 0; }
 #blogTable td.blog-sidebar { width: 100%; }
 #blogTable td.blog-sidebar div.paragraph { margin-bottom: 0; }
 #blogTable td.blog-sidebar p { margin-bottom: 0; }
 #blogTable td .blog-body { float: none !important; }
 #blogTable td .column-blog { width: 100%; float: none; }
 #blogTable td .blog-sidebar-separator { padding: 0; }
 #wsite-com-store .wsite-com-category-subcategory-group .wsite-com-column, #wsite-com-store .wsite-com-category-product-featured-group .wsite-com-column, #wsite-com-store .wsite-com-category-product-group .wsite-com-column { float: left; width: 50% !important; }
 #wsite-com-store .wsite-com-sidebar { position: relative; float: none !important; z-index: 6; width: 100%; min-height: 35px; margin: 0 auto 15px; padding: 0; text-align: center; }
 #wsite-com-store .wsite-com-sidebar:before { display: block; width: 100%; padding: 10px 18px; box-sizing: border-box; text-align: center; text-transform: uppercase; content: 'VIEW ALL CATEGORIES\00a0\00a0\25be'; font-weight: 700; cursor: pointer; }
 #wsite-com-store .wsite-com-sidebar #wsite-com-hierarchy { position: relative; display: block; overflow: hidden; width: 100%; max-height: 0px; padding: 0; background: #ffffff; box-sizing: border-box; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out; -ms-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; cursor: default !important; }
 #wsite-com-store .wsite-com-sidebar #wsite-com-hierarchy > ul { width: 100%; padding: 0; }
 #wsite-com-store .wsite-com-sidebar #wsite-com-hierarchy > ul li { margin-bottom: 15px; }
 #wsite-com-store .wsite-com-sidebar.sidebar-expanded { cursor: default !important; }
 #wsite-com-store .wsite-com-sidebar.sidebar-expanded:before { content: 'CLOSE\00a0\00a0\25b4'; }
 #wsite-com-store .wsite-com-sidebar.sidebar-expanded #wsite-com-hierarchy { max-height: 100vh; padding: 10px 0; }
 #wsite-com-store .wsite-com-content-with-sidebar { margin-left: 0; }
 div.wsite-product-image-wrap, .wsite-product .wsite-product-top { width: 100% !important; }
 .wsite-product .wsite-product-button-wrap { width: auto; }
 #wsite-com-product-images { float: none; width: 100%; margin-bottom: 20px; }
 #wsite-com-product-info { width: 100%; margin-left: 0; }
 #wsite-com-product-images-strip .wsite-com-product-images-secondary-outer { margin-bottom: 10px; }
 #wsite-search-sidebar { position: relative; z-index: 6; overflow-y: hidden; width: 100%; max-height: 35px; padding: 0; box-sizing: border-box; -webkit-transition: all 500ms ease-in-out; -moz-transition: all 500ms ease-in-out; -ms-transition: all 500ms ease-in-out; transition: all 500ms ease-in-out; }
 #wsite-search-sidebar:before { display: block; width: 100%; padding: 10px 18px; box-sizing: border-box; text-align: center; text-transform: uppercase; content: 'VIEW SEARCH FILTERS\00a0\00a0\25be'; font-weight: 700; cursor: pointer; }
 #wsite-search-sidebar.sidebar-expanded { max-height: 1000px; cursor: default !important; }
 #wsite-search-sidebar.sidebar-expanded:before { content: 'CLOSE\00a0\00a0\25b4'; }
 #wsite-search-sidebar .wsite-search-facet-price input { width: 100%; margin: 10px 0; padding: 6px !important; }
 #wsite-search-header h2 { width: 100%; margin-bottom: 10px; font-size: 1.6em; }
 #wsite-search-form-container { float: none; width: 100%; }
 #wsite-search-query { padding: 2px 10px; }
 #wsite-search-results { width: 100%; }
 #wsite-search-product-results .wsite-search-product-result { width: 100%; padding-right: 0; }
 }
 @media screen and (max-width: 480px) {
 #wsite-com-checkout-list .wsite-com-checkout-item-image, #wsite-com-checkout-summary-list .wsite-com-checkout-item-image { display: none; }
 #wsite-com-checkout-list tbody td:first-child, #wsite-com-checkout-summary-list tbody td:first-child { width: 0; padding: 0; }
 #wsite-com-checkout-list .wsite-com-checkout-item-details-inner, #wsite-com-checkout-summary-list .wsite-com-checkout-item-details-inner { padding-left: 0; }
 }
 body, a, h1 { color: #112233; }
 h1 { font-size: 22px; }
 .unite-header { padding: 0px 40px; }
 body.sticky-nav-on.ttp-no-header-page .main-wrap { padding-top: 80px; }
 .main-wrap .container { padding: 40px 40px; }
 .inline { float: left; margin: 10px; display: inline-block; }
 .addMargin { margin: 10px; }
 .left-column { min-width: 45%; }
 .right-column { min-width: 30%; }
 .cbButton { color: #522994; font-size: 14px; font-family: Arial, sans-serif; font-style: normal; font-weight: 600; text-align: center; vertical-align: middle; background-color: #E4F0F8; border-color: #C6B5DE; border-style: solid; border-width: 2px; width: auto; height: auto; margin: 0px 3px; padding: 4px 15px; min-width: 100px; }
 .cbButton:hover { color: #FFFFFF; font-size: 14px; font-family: Arial, sans-serif; font-style: normal; font-weight: 600; text-align: center; vertical-align: middle; background-color: #522994; border-color: #9C7BBD; border-style: solid; border-width: 2px; width: auto; height: auto; margin: 0px 3px; padding: 4px 15px; min-width: 100px; cursor: pointer; }
 .cbButton-blue { color: #FFFFFF; font-size: 14px; font-family: Arial, sans-serif; font-style: normal; font-weight: 600; text-align: center; vertical-align: middle; background-color: #1188dd; border-color: #044488; border-style: solid; border-width: 2px; width: auto; height: auto; margin: 0px 3px; padding: 4px 15px; min-width: 100px; }
 .cbButton-blue:hover { color: #FFFFFF; font-size: 14px; font-family: Arial, sans-serif; font-style: normal; font-weight: 600; text-align: center; vertical-align: middle; background-color: #1352a2; border-color: #08325e; border-style: solid; border-width: 2px; width: auto; height: auto; margin: 0px 3px; padding: 4px 15px; min-width: 100px; cursor: pointer; }

div.paragraph ul, div.paragraph ol { padding-left: 3em !important; margin: 5px 0 !important; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
