/* From this article:
https://www.sitepoint.com/css-printer-friendly-pages/
*/

tr.cbResultSetDataRow.Selected {
  background-color: unset !important;
}

h2 {
  font-size: 16pt;
}

.cbResultSetData {
  font-size: 8.5pt !important;
}

.cbResultSetLabel, .cbResultSetLabelLink {
  font-size: 10pt !important;
}

.unite-header, .main-nav, .cbUpdateButtonContainer, .cbButton, iframe, .no-print, .footer-wrap {
    display: none;
  }

.main-wrap {
    padding-top: 0 !important;
  }

 .main-wrap .container {
    padding: 0;
  }

  /* From this article:
https://stackoverflow.com/questions/907680/css-printing-avoiding-cut-in-half-divs-between-pages
  */

/*  
form {
  page-break-inside: avoid;
}
*/